In [5]:
12%5 #remainder print karta he

2

In [6]:
num = 100
num = num +200
num

300

In [7]:
num = 1
num +=200
num

201

In [8]:
num = 1
num -=200
num

-199

In [9]:
num = 1
num *=200
num

200

In [10]:
num = 1
num /=200
num

0.005

In [11]:
a = (12*2)/4+1-2
a

5.0

In [12]:
age = 10
name = "sufyan"
print( f"My name is {name} and my age is {age}")

My name is sufyan and my age is 10

In [13]:
age = input("Enter your age please:")
name = input("Tell me your name please:")


print( f"My name is {name} and my age is {age}")

Enter your age please:21
Tell me your name please:Waqas
My name is Waqas and my age is 21

In [4]:
age = int(input("Enter your age please:"))
name = input("Tell me your name please:")


print("My name is " +name + " and my age is " +str(age+age))

Enter your age please:21
Tell me your name please:Sufyan
My name is Sufyan and my age is 42

In [14]:
age = int(input("Enter your age please:"))
name = input("Tell me your name please:")


print("My name is {1} and my age is {0} ".format(name,age))

Enter your age please:21
Tell me your name please:sufyan
My name is 21 and my age is sufyan

In [17]:
#if statement

In [21]:
a = 100
b = 20
if a<b:
    print("a chota he")
    print()
if b<a:
    print("b is less than a")

b is less than a

In [32]:
a = int(input("enter the num:"))
if a%2==0:
    print(f"{a} is even")
    
else: 
    print(f"{a} is odd")

enter the num:4
4 is even

In [31]:
a = int(input("enter the num:"))
if a%2!=0:
    print(f"{a} is odd")
    
else:
    print(f"{a} is even")

enter the num:7
7 is odd